@import "tailwindcss";

@theme {
  --color-brand: #0b1f4f;
  --color-brand-light: #16316e;
}

:root {
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #09090b;
  color: white;
}